@font-face {
 font-family: "Century Gothic";
 src:
  local("Century Gothic"),
  url(./assets/fonts/Century\ Gothic.woff2) format("woff2"),
  url(./assets/fonts/Century\ Gothic.woff) format("woff");
 font-weight: normal;
 font-style: normal;
}

:root {
 --acc-clr: hsl(122, 17%, 42%);

 --pri-clr: hsl(115, 42%, 82%);
 --sec-clr: hsl(117, 34%, 89%);
 --ter-clr: hsl(117, 100%, 96%);

 scroll-behavior: smooth;
}

/* RESET */

*,
*::before,
*::after {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/* GENERAL STYLES */

body {
 background-color: var(--ter-clr);
 max-width: 1400px;
 margin: 0 auto;
 padding: clamp(.5rem, 6vw, 4rem) clamp(.5rem, 6vw, 4rem);

 font-family: system-ui, sans-serif;
}

.site-wrapper {
 max-width: 1110px;
 margin: 0 auto;
}

img {
 display: block;
 max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-weight: normal;
 font-family: "Century Gothic", system-ui, sans-serif;
}

h1 {
 color: var(--acc-clr);
 font-size: 1.5rem;
}

p {
 line-height: 1.5;
}

.circle-img {
 width: clamp(80px, 40vw, 180px);
 aspect-ratio: 1 / 1;
 border-radius: 50%;
 overflow: hidden;
 margin: 0 auto;
 border: 2px solid black;
 margin-bottom: clamp(1rem, 4vw, 2rem);
}

.circle-img>img {
 width: 100%;
 aspect-ratio: 1 / 1;
 object-fit: cover;
 object-position: left 0 bottom -15px;
}

.divider {
 all: initial;
 background-color: var(--acc-clr);
 width: 25%;
 height: 0.5px;
 margin: 1rem auto;
}

#thank-you {
 line-height: unset;
 color: var(--acc-clr);
 font-family: "Century Gothic", system-ui, sans-serif;
 font-size: 1.5rem;
 font-weight: normal;
 text-align: center;
 margin: -1rem 0 .5em;
}

/* UTILITY CLASSES */

.btn {
 display: inline-block;
 color: white;
 text-decoration: none;

 padding: .75em .75em;
 background-color: var(--acc-clr);
 border-radius: 7px;
}

.rounded-img {
 border-radius: 7px;
 overflow: hidden;
}

/* MOBILE */

.article-section {
 background-color: var(--pri-clr);
 outline: 1px solid #BBB;
 border-radius: 10px;

 padding: clamp(1rem, 5vw, 2.5rem) clamp(1rem, 5vw, 4rem);

 display: flex;
 flex-direction: column;
 justify-content: center;
 gap: 2rem;
}

.webpage-articles {
 display: flex;
 flex-direction: column;
 gap: 2rem;
}

.webpage-article {
 display: flex;
 flex-direction: column;
 gap: 1rem;
}

.rounded-img {
 height: 100vw;
 box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
 position: relative;
}

.rounded-img>img {
 width: 100%;
 position: absolute;
}

.webpage-article-content {
 background-color: var(--sec-clr);

 padding: 1rem 5vw 1.5em;

 display: flex;
 flex-direction: column;
 align-items: start;
 gap: 1rem;

 border-radius: 7px;
 box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.webpage-article-content>a {
 display: flex;
 align-items: center;
 justify-content: center;
 gap: .4rem;
}

/* .link-icon {
 display: block;
 width: 15px;
 height: 15px;
 filter: invert(97%) sepia(8%) saturate(454%) hue-rotate(53deg) brightness(93%) contrast(99%);
} */

.webpage-article-content>a>i {
 font-size: 12px;
}

/* TABLET */

@media (width >=480px) {
 .rounded-img {
  height: 70vw;
 }

 .webpage-article-content {
  padding: 3vw 5vw 4vw;
 }
}

/* DESKTOP */

@media (width >=768px) {
 .webpage-article {
  flex-direction: row;
 }

 .rounded-img {
  height: unset;
  /* flex: 1; */
  flex-basis: 50%;
  /* more accurate than flex: 1 in pixel sense */
 }

 .rounded-img>img {
  min-height: 100%;
  object-fit: cover;
  object-position: top;
 }

 .webpage-article-content {
  /* flex: 1; */
  flex-basis: 50%;
  /* more accurate than flex: 1 in pixel sense */
  padding: 1rem clamp(.5em, 5vw, 1.5em) 1.5em;
 }
}